<div class="content">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Notes</th>
        <th scope="col">Due Date</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let task of tasks; index as i">
        <th scope="row">{{ i + 1 }}</th>
        <td>
          {{ task.name }}
        </td>
        <td>{{ task.notes}}</td>
        <td>{{ task.dueDate | date }}</td>
        <td>
            <button class="btn btn-warning" (click)="updateTask(task.id)">
              Update
            </button>
            <button class="btn btn-danger btn-margin" (click)="deleteTask(task.id)">
              Delete
            </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
